body {
  padding: 0px;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

.hero-container {
  background-image: url("./assets/puzzel\ box\ 1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 800px;
  min-width: fit-content;
  background-color: #110f0e;
  position: center;
}

.hero-text {
  text-align: center;
  color: rgb(245, 243, 240);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visit-button {
  background-color: #bf7f58;
  padding: 15px 30px;
  color: #180d0d;
  border: solid 2px #1c0c0c;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
}

.visit-button:hover {
  background-color: #5b0b0b;
  color: #f6f3f1;
}

h1 {
  font-size: 60px;
}

.column50 {
  flex: 50%;
  padding: 15px;
}

.navbar a {
  text-align: left;
}

iframe.myIframe {
  width: 100%;
  height: 560px;
  border: solid 10px red;
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: solid 1px brown;
  text-align: left;
  padding: 10px;
}
th {
  background-color: rgb(97, 84, 7);
  color: white;
}

tr:nth-child(even) {
  background-color: #ccc;
}

@import "bootstrap/scss/bootstrap";

body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #1a0909;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #f9f2f2;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background-image: url("path-to-hero-image.jpg");
  background-size: cover;
  color: #b38080;
  padding: 200px 20px;
  text-align: center;
}

.btn {
  background-color: #562f05;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

@media print {
  header,
  .navbar,
  footer {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
.icon-list {
  padding-left: 0;
  list-style: none;

  li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.25rem;

    &::before {
      display: block;
      flex-shrink: 0;
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.5rem;
      content: "";
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E")
        no-repeat center center / 100% auto;
    }
  }
}

@include color-mode(dark) {
  .icon-list li::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23adb5bd' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E")
      no-repeat center center / 100% auto;
  }
}
