body {
  padding: 0px;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

.hero-container {
  background-image: url("./assets/puzzel\ box\ 1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 900px;
  min-width: fit-content;
  background-color: #110f0e;
  position: center;
}

.hero-text {
  text-align: center;
  color: rgb(245, 243, 240);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visit-button {
  background-color: #bf7f58;
  padding: 15px 30px;
  color: #fff;
  border: solid 2px #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
}

.visit-button:hover {
  background-color: #5b0b0b;
  color: #f6f3f1;
}

h1 {
  font-size: 60px;
}

.column50 {
  flex: 50%;
  padding: 15px;
}
.grad1 {
  height: 200px;
  background-image: linear-gradient(
    to right,
    #bf7f58,
    rgba(115, 86, 8, 0.104),
    beige
  );
  margin-bottom: 15px;
}

.navbar a {
  text-align: left;
}

iframe.myIframe {
  width: 100%;
  height: 560px;
  border: solid 10px red;
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: solid 1px brown;
  text-align: left;
  padding: 10px;
}
th {
  background-color: rgb(97, 84, 7);
  color: white;
}

tr:nth-child(even) {
  background-color: #ccc;
}

//Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background-image: url("path-to-hero-image.jpg");
  background-size: cover;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
}

.btn {
  background-color: #92612c;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

@media print {
  header,
  .navbar,
  footer {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}
