body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.hero-container {
  background-image: url("./assets/puzzel\ box\ 1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 800px;
  background-color: #bf7f58;
  position: center;
}

.hero-text {
  text-alight: center;
  color: bisque;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visit-button {
  background-color: #bf7f58;
  padding: 15px 30px;
  color: #fff;
  border: solid 2px #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
}

.visit-button:hover {
  background-color: #fff;
  color: #bf7f58;
}

h1 {
  font-size: 60px;
}

@media print {
  header,
  .navbar,
  footer {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }

  .navbar a {
    text-align: left;
  }
}

body {
  background: #efefef;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 82px;
}
h2 {
  font-size: 45px;
}
a {
  color: #000000eb;
}
a:hover {
  color: #000;
  text-decoration: wavy;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange: #f2c14e;
  --winning-blocks: #06537a;
}

body {
  color: var(--orange);
  font-family: "Finger Paint", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif sans-serif;
}
h1 {
  font-size: 54px;
  text-transform: uppercase;
}

.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #37505c;
}

#gameboard {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.box {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange);
  font-size: 120px;
  border-right: 2px solid;
  border-bottom: 2px solid;
}
.box:nth-child(3n) {
  border-right: none;
}
.box:nth-child(6) ~ .box {
  border-bottom: none;
}
button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--orange);
  color: #333;
  border-color: var(--orange);
  font-size: 18px;
  transition: 200ms transform;
  font-weight: 600;
}
button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
